html,
body{
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    color: #fff;
}

*{
    box-sizing: border-box;
}

.container{
    padding: 0px 25px;
}

.clear{
    clear: left;
}



.header{
    width: 100%;
    background-color:rgb(39,82,152);
}

.header-left{
    float: left;
    padding-bottom: 10px;
}

#login_btn{
    text-decoration: none;
    color: #fff;
    display: block;
    display:block;
    width: 100%; 
}

#header-right{
    float: right;
    background-color:rgba(255, 255, 255, 0.3) ;
    padding: 27px 25px;
    cursor: pointer;
    transition: all 0.5s;
}

#header-right:hover{
    background-color:rgba(255, 255, 255, 0.5) ;
    
}

.fas{
    width: 100%;
    margin-top: 20px;
    /* background-color: red; */
}



#map{
    height: 100%;
    width: 100%;
}
